* {
    padding: 0;
    margin: 0;
  }
  div{
    padding: 0 !important;
  }
.landing-image{
  height: 100% !important;
  
}
.insta{
  size: 90% !important;
  box-sizing:border-box !important;
}