body {
  background-image: url(./stats/images/wall-members-min.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media screen and (min-width:320px) and (max-width:768px) {
  body{
    background-image: url(./stats/images/wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  }
}
.mehdi-img {
  width: 22.125rem;
}
.mehdi-card {
  background: linear-gradient(
    90deg,
    rgba(127, 9, 9, 1) 58%,
    rgba(255, 197, 0, 1) 100%
  );
}
.mandana-card {
  background: linear-gradient(
    90deg,
    rgba(13, 98, 23, 1) 58%,
    rgba(86, 86, 86, 1) 100%
  );
}
.farzan-card {
  background: linear-gradient(
    90deg,
    rgba(238, 225, 23, 1) 58%,
    rgba(0, 0, 0, 1) 100%
  );
}
.sepehr-card{
    background: linear-gradient(
        90deg,
        rgba(13, 98, 23, 1) 58%,
        rgba(86, 86, 86, 1) 100%
      );  
}